<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.employer.name %>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Detalhe', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <!-- td><%= link_to 'Remover', user, method: :delete, data: { confirm: 'Você têm certeza?' } %></td -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_user_path %>