<div class="row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <h1>Listing Users</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Regra</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.employer.avatar, size: '25x25' %>
            <td><%= link_to user.employer.name, user %>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= link_to 'Editar', edit_user_path(user) %></td>
            <!-- td><%= link_to 'Remover', user, method: :delete, data: { confirm: 'Você têm certeza?' } %></td -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Novo Usuário', new_user_path %>
  </div>
</div>