<p id="notice"><%= notice %></p>

<h1>Listing Uniform Piece Kinds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uniform_piece_kinds.each do |uniform_piece_kind| %>
      <tr>
        <td><%= uniform_piece_kind.name %></td>
        <td><%= link_to 'Show', uniform_piece_kind %></td>
        <td><%= link_to 'Edit', edit_uniform_piece_kind_path(uniform_piece_kind) %></td>
        <td><%= link_to 'Destroy', uniform_piece_kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uniform piece kind', new_uniform_piece_kind_path %>
