<div class="row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8">

    <h1>Funcionários</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Data de admissão:</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @employers.each do |employer| %>
          <tr>
            <td><%= image_tag employer.avatar, size: '30x30', class: 'img-circle'%></td>
            <td><%= link_to employer.name, employer %>
            <td><%= (employer.sex == 'M') ? 'Masculino' : 'Feminino' %></td>
            <td><%= employer.admission.strftime("%d/%m/%Y") %></td>
            <td><%= link_to 'Editar', edit_employer_path(employer) %></td>
            <!-- td><%= link_to 'Remover', employer, method: :delete, data: { confirm: 'Você têm certeza?' } %></td -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Novo funcionário', new_employer_path, class: 'btn btn-default' %>
  </div>
</div>