<div class="form-inputs">
  <label>Controle:</label>
  <input type="text" class="form-control" value="#<%= @uniform_piece.id.to_s.rjust(4, '0') %>" disabled> 
</div>

<%= simple_form_for(@uniform_piece) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= if f.object.new_record?
          f.input :amount, label: 'Quantidade de entrada:',
                           as: :select,
                           default: 1,
                          collection: 1..20
        else
          f.input :amount, as: :hidden, input_html: { value: 0 }
        end %>
    <div class='datetimerange'>
      <%= f.input :entry, label: 'Data de entrada no estoque:', as: :date_picker %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.association :uniform_piece_kind, label: ("Tipo de peça: (#{link_to 'Criar novo tipo', new_uniform_piece_kind_path})").html_safe %>
      </div>
      <div class="col-md-6">
        <%= f.association :uniform_piece_group, label: ("Grupo: (#{link_to 'Criar novo grupo', new_uniform_piece_group_path})").html_safe %>
      </div>
    </div>
    <div class='datetimerange'>
      <%= if !f.object.new_record?
            f.input :delivered, label: 'Data de entrega ao funcionário:', as: :date_picker
      end %>
    </div>
    <%= if !f.object.new_record?
          f.input :delivery_reason, label: 'Obs. sobre entrega da peça ao funcionário:'
        end %>
    <div class='datetimerange'>
      <%= if !f.object.new_record?
            f.input :returned, label: 'Data de devolução:', as: :date_picker
      end %>
    </div>
    <%= if !f.object.new_record?
          f.input :return_reason, label: 'Obs. sobre devolução da peça pelo funcionário:'
        end %>
    <div class="row">
      <div class="col-md-6">
        <%= f.association :uniform_piece_size, label: 'Tamanho da peça:',
                                                as: :select,
                                                prompt: 'Tamanho',
                                                selected: @uniform_piece.uniform_piece_size_id %>
      </div>
      <div class="col-md-6">
        <%= f.input :gender, label: 'Gênero:',
                              prompt: 'Gênero',
                              as: :select,
                              collection: [['Masculino', 'M'],['Faminino','F']] %>
      </div>
    </div>
    <%= f.input :color, label: "Cor:" %>
     <!-- if !f.object.new_record? -->
          <%= f.input :used, label: 'Peça usada' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Salvar', class: "btn btn-primary btn-block" %>
  </div>
<% end %>