<p id="notice"><%= notice %></p>

<h1>Uniformes</h1>

<div class="row">
  <div class="col-md-12 column">
    <div class="row">
      <div class="col-md-12 column">
        <%= link_to 'Nova peça de uniforme', new_uniform_piece_path, class: "btn btn-primary" %>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 column">
    		<div class="panel-group" id="panel-163973">
          <% UniformPieceGroup.all.each_with_index do |uniformGroup, i| %>
      			<div class="panel panel-default">
      				<div class="panel-heading">
      					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-163973" href="#collapse-<%= i %>"><%= uniformGroup.name %></a>
      				</div>
      				<div id="collapse-<%= i %>" class="panel-collapse collapse">
      					<div class="panel-body">
                  <% UniformPieceKind.all.each_with_index do |uniformPieceKind, j| %>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <div class="caption">
                          <h4 class="text-center">
                            <%= uniformPieceKind.name %> - <%= UniformPiece.where(uniform_piece_kind_id: uniformPieceKind.id, uniform_piece_group_id: uniformGroup.id, employer: nil).count(:uniform_piece_kind_id) %>
                            <hr>
                            <% UniformPiece.select(:uniform_piece_size_id).where(uniform_piece_kind_id: uniformPieceKind.id, uniform_piece_group_id: uniformGroup.id).distinct.each do |piece_size| %>
                              <%= piece_size.uniform_piece_size.name %> - <%= UniformPiece.where(uniform_piece_kind_id: uniformPieceKind.id, uniform_piece_group_id: uniformGroup.id, uniform_piece_size_id: piece_size.uniform_piece_size.id, employer: nil ).count(:uniform_piece_size_id) %><br>
                            <% end %>
                          </h4>
                        </div>
                      </div>
                    </div>
                  <% end %>
      					</div>
      				</div>
      			</div>
          <% end %>
    		</div>
    	</div>
    </div>
  </div>
</div>