<p id="notice"><%= notice %></p>

<h1>Uniformes</h1>

<div class="row">
  <div class="col-md-12 column">
    <div class="row">
      <div class="col-md-12 column">
        <%= link_to 'Nova peça de uniforme', new_uniform_piece_path, class: "btn btn-primary" %>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 column">
    		<div class="panel-group" id="panel-163973">
          <% UniformPieceGroup.all.each_with_index do |uniformGroup, i| %>
      			<div class="panel panel-default">
      				<div class="panel-heading">
      					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-163973" href="#collapse-<%= i %>"><%= uniformGroup.name %></a>
      				</div>
      				<div id="collapse-<%= i %>" class="panel-collapse collapse">
      					<div class="panel-body">
                  <% UniformPieceKind.all.each do |uniform_piece_kind| %>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <div class="caption">
                          <h4 class="text-center">
                            <%= uniform_piece_kind.name %> - <%= UniformPiece.where(uniform_piece_kind_id: uniform_piece_kind.id, uniform_piece_group_id: uniformGroup.id, employer: nil).count(:uniform_piece_kind_id) %>
                            <hr>
                            <% UniformPiece.select(:uniform_piece_size_id).where(uniform_piece_kind_id: uniform_piece_kind.id, uniform_piece_group_id: uniformGroup.id).distinct.each do |piece_size| %>
                              <%= piece_size.uniform_piece_size.name %> - <%= UniformPiece.where(uniform_piece_kind_id: uniform_piece_kind.id, uniform_piece_group_id: uniformGroup.id, uniform_piece_size_id: piece_size.uniform_piece_size.id, employer: nil ).count(:uniform_piece_size_id) %><br>
                            <% end %>
                          </h4>
                        </div>
                      </div>
                    </div>
                  <% end %>
      					</div>
      				</div>
      			</div>
          <% end %>
          <div class="panel panel-default">
    				<div class="panel-heading">
    					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-163973" href="#collapse-todos">Todos</a>
    				</div>
    				<div id="collapse-todos" class="panel-collapse collapse">
    					<div class="panel-body">
                <div class="col-md-12">

                  <table id="table"
                         data-toggle="table"
                         data-show-toggle="true"
                         data-show-columns="true"
                         data-pagination="true"
                         data-page-size="20"
                         data-page-list="[5,10,20,40,80,100]"
                         data-pagination-first-text="Primieiro"
                         data-pagination-pre-text="Anterior"
                         data-pagination-next-text="Próximo"
                         data-pagination-last-text="Último"
                         data-filter-control="true">
                    <thead>
                      <tr>
                        <th data-filed="id"         data-sortable="true">#</th>
                        <th data-field="entry"      data-sortable="true" data-filter-control="input">Entrada no estoque</th>
                        <th data-field="delivered"  data-sortable="true" data-filter-control="input">Entregue ao funcionário</th>
                        <th data-field="returned"   data-sortable="true" data-filter-control="input">Devolução p/ estoque</th>
                        <th data-field="size"       data-sortable="true" data-filter-control="select">Tamanho</th>
                        <th data-field="color"      data-sortable="true" data-filter-control="select">Cor</th>
                        <th data-field="kind"       data-sortable="true" data-filter-control="select">Tipo</th>
                        <th data-field="group"      data-sortable="true" data-filter-control="select">Grupo</th>
                        <th data-field="employer"   data-sortable="true" data-filter-control="select">Funcionário</th>
                        <th data-field="used"       data-sortable="true">Usado</th>
                      </tr>
                    </thead>
                  
                    <tbody>
                      <% @uniform_pieces.order(:id).each do |uniform_piece| %>
                        <tr>
                          <td><%= uniform_piece.id %></td>
                          <td><%= uniform_piece.entry.strftime("%d/%m/%Y") %></td>
                          <td><%= uniform_piece.delivered.strftime("%d/%m/%Y") if !uniform_piece.delivered.nil? %></td>
                          <td><%= uniform_piece.returned.strftime("%d/%m/%Y") if !uniform_piece.returned.nil? %></td>
                          <td><%= uniform_piece.uniform_piece_size.name %></td>
                          <td><%= uniform_piece.color %></td>
                          <td><%= uniform_piece.uniform_piece_kind.name %></td>
                          <td><%= uniform_piece.uniform_piece_group.name %></td>
                          <td><%= link_to(uniform_piece.employer.name.split(" ")[0], employer_path(uniform_piece.employer)) if !uniform_piece.employer.nil? %></td>
                          <td><%= "Usado" unless !uniform_piece.used? %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>