<p id="notice"><%= notice %></p>

<p>
  <strong>Data de entrada:</strong>
  <%= @uniform_piece.entry %>
</p>

<p>
  <strong>Data de entrega ao funcionário:</strong>
  <%= @uniform_piece.delivered %>
</p>

<p>
  <strong>Obs. sobre entregada peça ao funcionário:</strong>
  <%= @uniform_piece.delivery_reason %>
</p>

<p>
  <strong>Data de devolução da peça pelo funcionário:</strong>
  <%= @uniform_piece.returned %>
</p>

<p>
  <strong>Obs. sobre a devolução da peça:</strong>
  <%= @uniform_piece.return_reason %>
</p>

<p>
  <strong>Tamanho da peça:</strong>
  <%= @uniform_piece.uniform_piece_size.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @uniform_piece.color %>
</p>

<p>
  <strong>Uniform piece kind:</strong>
  <%= @uniform_piece.uniform_piece_kind.name %>
</p>

<p>
  <strong>Uniform piece group:</strong>
  <%= @uniform_piece.uniform_piece_group.name %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @uniform_piece.gender ? 'Masculino' : 'Feminino' %>
</p>

<p>
  <strong>Usado:</strong>
  <%= @uniform_piece.used %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @uniform_piece.employer.name unless @uniform_piece.employer.nil? %>
</p>

<%= link_to 'Editar', edit_uniform_piece_path(@uniform_piece) %> |
<%= link_to 'Voltar', uniform_pieces_path %>
