<div class="row">
  <div class="col col-md-12">
    <%= link_to("Imprimir", "#", onclick: "PrintDiv();", class: 'btn btn-default') %>
    <hr>

    <div id="receiptToPrint">
      <%= image_tag "logo385x255.png", width: "215" %>
      <br><br><br>
      <center>
      <h1><strong>RECIBO</strong></h1>
      </center>

      <h3>Recebi de Stylo Viagens e Turismo LTDA os itens abaixo relacionados:</h3>

      <table >
      	<thead>
      	  <tr>
      	    <th><h4>Controle</h4></th>
      			<th><h4>Tipo</h4></th>
      			<th><h4>Grupo</h4></th>
      			<th><h4>Tamanho</h4></th>
      	  </tr>
      	</thead>
      	<tbody>
          <% @uniform_pieces.each do |uniform_piece| %>
            <tr>
              <td><%= uniform_piece.id %></td>
              <td><%= uniform_piece.uniform_piece_group.name %></td>
              <td><%= uniform_piece.uniform_piece_kind.name %></td>
              <td><%= uniform_piece.uniform_piece_size.name %></td>
            </tr>
          <% end %>
      	</tbody>
      </table>

      <br>

      <h5><b>Obs.1:</b> O prazo m&iacute;nimo para a troca dos uniformes &eacute; de 01 (um) ano, caso n&atilde;o ocorra imprevistos.</h5>

     <br><br><br><br>
      <center>
        __________________________________________________<br>
        <h2>Carlos Fagiani Junior</h2>
        <%= Date.current.to_formatted_s(:rfc822) %>
      </center>

      <style>
        #receiptToPrint {
          width: 700px;
        }
        table {
          border: 1px black solid;
          width: 700px;
        }
        thead {
          border: 2px black solid;
          }
        tfoot, tbody tr td {
          border: 1px black solid;
        }
      </style>
    </div>

  </div>
</div>