<!DOCTYPE html>
<html>
<head>
  <title>IntranetTv</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 column">
        <%= render "layouts/menu_admin" %>
      </div>
      <div class="col-md-10 column">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>